/* Font-size
   Font-family */

/* body{
    font-family: Helvetica;
} */

/* h1{
    font-family: verdana;
} */

/* generic in this browser will get familier font its by default */
/* search for google fonts for more fonts */
/* body{
    font-family: 'Courier New', Courier, monospace;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} */

/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Extended+Text&display=swap');
body{
    font-family: 'Bodoni Moda', serif;
    font-family: 'Bodoni Moda', serif;
    font-family: 'Hachi Maru Pop', cursive;
    
}

h1{
    font-family: 'Libre Barcode 39 Extended Text', cursive;
    
}